<header>
  <section class="head">

    <div class="googleEyeP"></div>
    <div class="baptiste">
      <h1>Baptiste Bourlet développeur web FreeLance</h1>
      <hr>
      <div class="slideLeft">
        <img src="/assets/bat.jpg" alt="Photo de Baptiste Bourlet" srcset="">
      </div>
      
    </div>

  </section>
</header>
<main>
  <section class="produit">
    <mat-card class="card_simple_site">
      <mat-card-header>

        <mat-card-title>Création de sites vitrines</mat-card-title>
        <mat-card-subtitle>Qu'est-ce qu'un site vitrine ?</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/vitrine.png" alt="Photo site vitrine">
      <mat-card-content>
        <p>
          Un site vitrine est un site web qui se résume
          à la présentation d'une entreprise, d'une organisation, d'un produit, etc.
        </p>
      </mat-card-content>

    </mat-card>
    <mat-card class="card_interaction_site">
      <mat-card-header>

        <mat-card-title>Création de sites avec interactions</mat-card-title>
        <mat-card-subtitle>Qu'est-ce qu'un site avec interactions ?</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="/assets/ecommerce.jpg" alt="Photo site vitrine">
      <mat-card-content>
        <p>
          Ce que j'entend par "site avec interactions" regroupe les e-commerce, commande en ligne,
          réservation en ligne, etc. Pour résumer cela comprend tout ce qui est fait automatiquement
          par le site pour vous.
        </p>
      </mat-card-content>

    </mat-card>
  </section>

</main>

<footer>
  <section class="contact">
    <h4>Contact :</h4>
    <div class="flex">
      <p>
        <strong>Adresse mail :</strong><br><a href="mailto:baptiste.bourlet@gmail.com"> baptiste.bourlet@gmail.com</a>
      </p>
      <p>
        <strong>Téléphone : </strong><br><a href="tel:32492525104"> Téléphone : 0492/52 51 04</a>
      </p>
    </div>

  </section>

</footer>